

*{
	margin:0px;
	padding:0px;
    box-sizing: border-box;
}

body{
    font: 12px Arial,Sans-serif;
    background: url("../css/css_images/bg.gif") ;
    color:#808080;
    
}

nav{
    height: auto;
}

#main-nav{
    background-color:darkred;
    color:white;
}

#main-nav ul li{
    background-color:darkred;
    color:white;
}

header{
    background: blue url("../css/css_images/header.jpg");
    Height: 150px;
    padding: 20px;
}

main{
    /*  width:480px; 
    margin-right:280px;
    padding: 25px;*/
    width:100%; 
    float: left;
    padding: 3.28947%;
    position:inline;
}



img{
    border-radius: 10px; 
    box-shadow: 5px 5px 6px 3px gray;
    max-width:100%;
    height: auto;
    margin: 10px;
}

footer{
    background: #EEEEEE;
    Height: 70px;
    clear:both;
    font: italic 15px Arial,Sans-serif;
    border-top: 1px solid #efefef;
    padding: 13px 15px;
    line-height: 18px;
}

#container{
    /*    width:760px; */
    margin:auto;
    width:70%;  
    background-color: white;

}

h1{
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    font: italic 25px Arial,Sans-serif;
    color:LightSeaGreen;
}
h2{
    text-shadow: 1px 1px 1px rgba(150, 150, 150, 1);
    font: italic 20px Arial,Sans-serif;
    color:LightSeaGreen;
}

p, h2{
    padding-bottom:1.973684%;
}


h3{
    
   font: italic 17px Arial,Sans-serif;
    color:LightSeaGreen;
}

h4{
    
   font: italic 14px Arial,Sans-serif;
    color:SeaGreen;
}


p, content{
    
    line-height: 18px;

}

.container {
    position: relative;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color:darkred;
}
#centered{
        opacity: 0.3;
        width: 100%;
        height: auto;
}


/*--------------------------Client has a wide screen-----------------------*/
@media only screen and (min-width:760px){
main{
    width:760px; 

    padding: 25px;
}

#container{
    width:760px;
}

}

/*--------------------------Client has a medium size screen-----------------------*/
@media only screen and (max-width:760px) and (min-width:470px){   
#container{
    width:100%;
}
}

/*--------------------------Client has a small device-----------------------*/
@media only screen and (max-width:470px){
    /* remove fixed widths */
    #container,header,nav, section ,main,aside ,footer{
		width:auto;
		font-size:.99em;
    }
    nav{
		overflow:hidden;
            height: auto;
	}
	nav ul{
		width:100%;
	}
    	nav ul li a	{
		width:100%;
		display:block;
		border-bottom: 1px solid #fff;
	}
    header{
       	width:100%;
		height:110px;
		background:white;
    }

}